In [9]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [4]:
forestfire=pd.read_csv('forestfires.csv')
forestfire

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [3]:
forestfire.describe()

             FFMC         DMC          DC  ...    monthnov    monthoct    monthsep
count  517.000000  517.000000  517.000000  ...  517.000000  517.000000  517.000000
mean    90.644681  110.872340  547.940039  ...    0.001934    0.029014    0.332689
std      5.520111   64.046482  248.066192  ...    0.043980    0.168007    0.471632
min     18.700000    1.100000    7.900000  ...    0.000000    0.000000    0.000000
25%     90.200000   68.600000  437.700000  ...    0.000000    0.000000    0.000000
50%     91.600000  108.300000  664.200000  ...    0.000000    0.000000    0.000000
75%     92.900000  142.400000  713.900000  ...    0.000000    0.000000    1.000000
max     96.200000  291.300000  860.600000  ...    1.000000    1.000000    1.000000

[8 rows x 28 columns]

In [5]:
forestfire.drop(["month","day"],axis=1,inplace =True)

In [6]:
#Normalising the data
predictors = forestfire.iloc[:,0:28]
target = forestfire.iloc[:,28]

In [7]:
def norm_func(i):
    x= (i-i.min())/(i.max()-i.min())
    return (x)

In [8]:
fires = norm_func(predictors)

In [10]:
x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.25, stratify = target)

In [11]:
model_linear = SVC(kernel = "linear")
model_linear.fit(x_train,y_train)
pred_test_linear = model_linear.predict(x_test)

In [12]:
np.mean(pred_test_linear==y_test)

0.9846153846153847

In [13]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(x_train,y_train)
pred_test_poly = model_poly.predict(x_test)

In [17]:
np.mean(pred_test_poly==y_test)

0.7615384615384615

In [15]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(x_train,y_train)
pred_test_rbf = model_rbf.predict(x_test)

In [16]:
np.mean(pred_test_rbf==y_test)

0.7615384615384615

In [18]:
#'sigmoid'
model_sig = SVC(kernel = "sigmoid")
model_sig.fit(x_train,y_train)
pred_test_sig = model_rbf.predict(x_test)

In [19]:
np.mean(pred_test_sig==y_test)

0.7615384615384615